{% extends 'base.html' %}<!-- 템플릿 상속(base를 기본 뼈대로 가져와 쓰겠다) -->

{% block content %}

    <main role="main">

        <section class="jumbotron text-center">
            <div class="container">
                <h1 class="jumbotron-heading">Portfolio Album</h1>
                <p class="lead text-muted">admin으로만 사진 추가 가능합니다</p>
                <p>
                    <a href="{% url 'home' %}" class="btn btn-primary my-2">back to Home</a>
                    <a href="#" class="btn btn-secondary my-2">Secondary action</a>
                </p>
            </div>
        </section>

        <div class="album py-5 bg-light">
            <div class="container">

                <div class="row">
                    {% for portfolio in portfolios.all %}
                    <div class="col-md-4">
                        <div class="card mb-4 shadow-sm">
                            <img src="{{portfolio.image.url}}" height="300">
                            <div class="card-body">
                                <p class="card-text">{{portfolio.description}}</p>
                                <div class="d-flex justify-content-between align-items-center">
                                    <div class="btn-group">
                                        <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                                        <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                                    </div>
                                    <small class="text-muted">9 mins</small>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                    
                </div>
            </div>
        </div>

    </main>
{% endblock %}